---
import styles from "./ContributionList.module.css";

interface Props {
  title?: string;
  items: string[];
}

const { title, items } = Astro.props as Props;
---

<section class={styles.block}>
  {title && <h3>{title}</h3>}
  <ul>
    {items.map((item) => (
      <li>{item}</li>
    ))}
  </ul>
</section>
