---
import styles from "./SpoilerBlock.module.css";

interface Props {
  title?: string;
}

const { title = "詳細を表示" } = Astro.props as Props;
---

<details class={styles.root}>
  <summary>{title}</summary>
  <div class={styles.body}>
    <slot />
  </div>
</details>
